{% extends 'base.html' %}
{% load tz %}

{% block style %}
<style media="screen">
  td.action-checkbox {
      width: 10px;
  }
  td{
    width: 100px;
    text-align: justify;
  }
  #raise-ticket {
    float: right;
    height: 35px;
    color: #fff;
    background: #337ab7;
    padding: 10px;
    margin-top: -20px;
  }
  span {
  background-color: #d5f4e6;
}
</style>
{% endblock %}

  {% block content %}

<p><span>Note:</span>Click on Ticket to update/Delete</p>
<div class="container">

      <a href="{% url 'raise_ticket' %}" id="raise-ticket" right>Click here to raise a ticket</a>
<hr>

{% for info in tkt_info %}
<form class="form-horizontal"
      method="post"
      enctype="multipart/form-data"
      action="{% url 'raise_ticket' %}">

          {% csrf_token %}

            <table class="table table-striped">
                {% if forloop.counter == 1 %}
              <thead>
                <tr>
                  <th>S. No</th>
                  <th>Subject</th>
                  <th>Content</th>
                  <th>Department</th>
                  <th>Category</th>
                  <th>Status</th>
                  <th>Urgent</th>
                  <th>Created on</th>
                </tr>
              </thead>
                {% endif %}
              <tbody>
                <tr>
                  <td style="width: 50px;"> {{ forloop.counter }}</td>
                  <td> <a href="{% url 'update_ticket' info.uuid %}">
                     {{ info.subject }} </a>
                   </td>
                  <td>{{ info.content }}</td>
                  <td>{{ info.get_department_display|upper }}</td>
                  <td>{{ info.get_category_display }}</td>
                  <td>{{ info.get_status_display }}</td>
                  <td>{{ info.urgent }}</td>
                  <td>{{ info.created_at }}</td>

                </tr>
              </tbody>
            </table>

            <input type="hidden" name="ticket_uuid" value="{{ info.uuid }}">
        </form>
  {% endfor %}
    </div>

  {% endblock %}
