{% extends 'base.html' %}
{% load tz %}

{% block style %}
  <style>
    .jumbotron {
      text-align: center;
    }
  </style>
{% endblock %}

  {% block jumbotron %}

      {% for info in tkt_info %}
          <div class="jumbotron">

                <form class="form-horizontal"
                      method="post"
                      enctype="multipart/form-data">
                      {% csrf_token %}

                      <div class="form-group">
                        <label for="subject" class="col-sm-5 col-form-label">Issue</label>
                        <div class="col-sm-4">
                          <input type="text" class="form-control"
                                 readonly class="form-control-plaintext"
                                 id="subject"
                                 value='{{ info.subject }}'>
                        </div>
                      </div>
                        <div class="form-group">
                          <label for="status" class="col-sm-5 col-form-label">Status</label>
                          <div class="col-sm-4">
                            <input type="text" class="form-control"
                                   readonly class="form-control-plaintext"
                                   id="status"
                                   value='{{ info.status }}'>
                          </div>
                        </div>
                    <div class="form-group">
                      <label for="department" class="col-sm-5 col-form-label">Dapartment</label>
                      <div class="col-sm-4">
                        <input type="text" class="form-control"
                               readonly class="form-control-plaintext"
                               id="department"
                               value='{{ info.department }}'>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="content" class="col-sm-5 col-form-label">Content</label>
                      <div class="col-sm-4">
                        <textarea class="form-control"
                                  readonly class="form-control-plaintext"
                                  input type="text" id="res_location"
                                  name="content"
                                  rows="3"> {{ info.content }}</textarea>
                      </div>
                    </div>
                    <!-- <div class="form-group">
                      <label for="res_map" class="col-sm-5 col-form-label">Get Direction on Map</label>
                      <div class="col-sm-4">
                        <button class="btn btn-default btn-sm" name="submit" title="map">Click Here
                        </button>
                      </div>
                    </div> -->
                    <input type="hidden" name="location" value="{{ info.name }}"></input>

              </form>
          </div>

    {% endfor %}

        <div class="pagination">
            <span class="step-links">
                {% if res_info.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ res_info.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ res_info.number }} of {{ res_info.paginator.num_pages }}.
                </span>

                {% if res_info.has_next %}
                    <a href="?page={{ res_info.next_page_number }}">next</a>
                    <a href="?page={{ res_info.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
{% endblock %}
